	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>jpg</string>
				<string>jpeg</string>
				<string>webp</string>
				<string>bmp</string>
				<string>tif</string>
				<string>tiff</string>
				<string>gif</string>
				<string>exr</string>
				<string>svg</string>
				<string>arw</string>
				<string>cr2</string>
				<string>cr3</string>
				<string>nef</string>
				<string>nrw</string>
				<string>orf</string>
				<string>raf</string>
				<string>rw2</string>
				<string>dng</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>org.webmproject.webp</string>
				<string>com.microsoft.bmp</string>
				<string>public.tiff</string>
				<string>com.compuserve.gif</string>
				<string>com.ilm.openexr-image</string>
				<string>public.svg-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.nikon.raw-image</string>
				<string>com.olympus.raw-image</string>
				<string>com.fuji.raw-image</string>
				<string>com.panasonic.raw-image</string>
				<string>com.adobe.photoshop.raw-image</string>
			</array>
		</dict>
	</array>
