<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    
    <Bundle Name="Rivett $(var.Version)" 
            Version="$(var.Version)" 
            Manufacturer="Rivett Developers" 
            UpgradeCode="4FC25C8F-175E-4005-8AD9-E09C31EB26C4"
            IconSourceFile="wix\Product.ico">
        
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkTheme">
            <bal:WixStandardBootstrapperApplication 
                ThemeFile="wix\Theme.xml" 
                LocalizationFile="wix\Theme.wxl"
                LogoFile="resources\icon.png"
                SuppressOptionsUI="yes" />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage SourceFile="$(var.MsiPath)" DisplayInternalUI="no" />
        </Chain>
    </Bundle>
</Wix>
